.past {
  background-color: rgba(80, 80, 80, 0.2);
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.default {
  background-color:#8c8c8c;
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.selected {
  background-color:#0d1b2a;
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

