.form {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  background-color: var(--black);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  height: max-content;
  margin: 10px;
  align-content: center;
}

.week {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 44px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.week button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.week .default:hover, .week .selected:hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.2s ease;
  background-color: var(--green);
}

.past {
  background-color: rgba(80, 80, 80, 0.4);
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.default {
  background-color:#8c8c8c;
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.selected {
  background-color:var(--purple);
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.hours h3 {
  font-size: 20px;
}

.defaultBtn {
  background-color:#8c8c8c;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 6px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.selectedBtn {
  background-color:var(--purple);
  outline: none;
  border-radius: 5px;
  color: white;
  border: none;
  margin: 6px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  width: 50px;
  height: 30px;
}

.selectedBtn:hover, .defaultBtn:hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.2s ease;
  background-color: var(--green);
}

.slots {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}

.slots h3 {
  font-size: 20px;
}

.slots input {
  width: 105px;
  height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0px 30px;
  -webkit-appearance: none;
  margin: 0 10px;
  color: var(--black);
  border: 1px solid rgb(150, 150, 150);
}

.price {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}


.price h3 {
  font-size: 20px;
}

.price input {
  color: var(--black);
  width: 128px;
  height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0px 30px;
  -webkit-appearance: none;
  margin: 0 10px;
  border: 1px solid rgb(150, 150, 150);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.sendBtn button{
  width: 100px;
  height: 30px;
  margin: 40px 10px ;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--purple);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  font-size: 15px;
  cursor: pointer;
}

.sendBtn button:hover {
  background-color: var(--green);
}

.sendBtn button:active {
  box-shadow: none;
}

.hours_container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}


@media screen and (max-width: 900px) {
  .form {
    flex-direction: column;
  }
}

