.notification {
  display: flex;
  position: absolute;
  top: 1.25vw;
  right: 6vw;
  width: 2.5vw;
  height: 2.5vw;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.notification_icon {
  width: 2vw;
  height: 2vw;
}
