
:root {
  --black: rgb(95, 95, 95);
  --grey: rgb(205, 205, 205);
  --white: rgb(240, 240, 240);
  --red: rgb(206, 36, 36);
  --light-blue: rgb(102, 193, 255);
  --font-light: "AirbnbCerealLight", sans-serif;
  --font-book: "AirbnbCerealBook", sans-serif;
  --font-black: "AirbnbCerealBlack", sans-serif;
  color: var(--black);
  font-family: var(--font-light);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: antialiased; */
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.anticon.anticon-cross-circle.ant-calendar-picker-clear {
  display: none;
}

* {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.main_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .main_table {
    padding: 1vw 1vw 1vw 14vw;
  }
}
