/* @media screen and (max-width: 2560px) {
  .nav_item_compressed, .nav_item_extended {
    height: 80px;
    margin: 50px 50px;
  }

  .icon_compressed, .icon_extended {
    height: 50px;
  }

  .icon_extended {
    margin-left: 12.5%;
  }

  .text_compressed, .text_extended {
    margin: 0px 0px 5px 15px;
    font-size: 25px;
  }
}

@media screen and (max-width: 1920px) {
  .nav_item_compressed, .nav_item_extended {
    height: 80px;
    margin: 50px 50px;
  }

  .icon_compressed, .icon_extended {
    height: 50px;
  }

  .icon_extended {
    margin-left: 12.5%;
  }

  .text_compressed, .text_extended {
    margin: 0px 0px 5px 15px;
    font-size: 25px;
  }
}

@media screen and (max-width: 1520px) {
  .nav_item_compressed, .nav_item_extended {
    height: 80px;
    margin: 50px 50px;
  }

  .icon_compressed, .icon_extended {
    height: 40px;
  }

  .icon_extended {
    margin-left: 9%;
  }

  .text_compressed, .text_extended {
    margin: 0px 0px 5px 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .nav_item_compressed, .nav_item_extended {
    height: 80px;
    margin: 50px 50px;
  }

  .icon_compressed, .icon_extended {
    height: 40px;
  }

  .icon_extended {
    margin-left: 7%;
  }

  .text_compressed, .text_extended {
    margin: 0px 0px 5px 10px;
    font-size: 19px;
  }
}

@media screen and (max-width: 800px) {
  .nav_item_compressed, .nav_item_extended {
    height: 80px;
    margin: 50px 50px;
  }

  .icon_compressed, .icon_extended {
    height: 35px;
  }

  .icon_extended {
    margin-left: 5%;
  }

  .text_compressed, .text_extended {
    margin: 0px 0px 5px 9px;
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .nav_item_compressed, .nav_item_extended {
    height: 80px;
    margin: 50px 50px;
  }

  .icon_compressed, .icon_extended {
    height: 30px;
  }

  .icon_extended {
    margin-left: 3%;
  }

  .text_compressed, .text_extended {
    margin: 0px 0px 5px 9px;
    font-size: 15px;
  }
}

.nav_item_compressed, .nav_item_extended {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.nav_item_compressed:hover, .nav_item_extended:hover {
  background-color: rgba(255, 255, 255, 0.055);
}

.icon_compressed {
  width: 100%;
}

.text_compressed {
  opacity: 0;
}

.text_extended {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  opacity: 1;
  transition: 900ms;
}
 */