.form {
  display: flex;
  font-family: monospace;
  align-items: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* line-height: 44px; */
  text-align: center;
  color: white;
  font-size: 25px;
  align-items: center;
  font-weight: 900;
  justify-content: space-evenly;
}
.days button {
  background-color:#0d1b2a;
  border-radius: 10px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
}
.days button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

.daySelection {
  background-color: seagreen;
}

.daySelection:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .form {
    flex-direction: column;
  }
}