.form {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  /* background-color: rgba(9, 0, 0, 0.083);
  border-radius: 20px;
  padding: 30px; */
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* line-height: 44px; */
  text-align: center;
  color: white;
  font-size: 25px;
  align-items: center;
  font-weight: 900;
  justify-content: space-evenly;
}

.days button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.2s ease;
}

.daySelection {
  background-color: seagreen;
}

.daySelection:hover {
  cursor: pointer;
}

.default {
  background-color:#8c8c8c;
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.selected {
  background-color:#0d1b2a;
  border-radius: 5px;
  border: 0px;
  margin: 4px;
  outline: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}

.hours {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.hours h3 {
  font-size: 20px;
  text-align: start;
}

.hours_container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.slots {
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 30px;
}

.slots h3 {
  font-size: 20px;
}

.slots input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0px 30px;
  -webkit-appearance: none;
  margin: 0 10px;
  border: 1px solid rgb(150, 150, 150);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.sendBtn button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46);
  font-size: 15px;
  cursor: pointer;
  margin-top: 50px;
}

.sendBtn button:hover {
  background-color: rgb(247, 246, 246);
}

.sendBtn button:active {
  box-shadow: none;
}




@media screen and (max-width: 900px) {
  .form {
    flex-direction: column;
  }
}
