.form {
  /* display: flex; */
  font-family: monospace;
}

.days {
  display: flex;
  flex-wrap: wrap;
  height: 44px;
  width: 100%;
  /* line-height: 44px; */
  text-align: center;
  color: white;
  font-size: 25px;
  align-items: center;
  font-weight: 900;
  justify-content: space-evenly;
}

.daySelection {
  background-color: seagreen;
}

.daySelection:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}