/* .logout {
  display: flex;
  position: absolute;
  top: 1vw;
  right: 2vw;
  width: 2.5vw;
  height: 2.5vw;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.logout_icon {
  width: 2vw;
  height: 2vw;
}
 */