.booking {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.bookingInput {
  display: flex;
  height: 50%;
  width: 50%;
}

.dates {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .booking {
    flex-direction: column-reverse;
  }
  .bookingInput {
    width: 100%;
  }
  
  .dates {
    width: 100%;
  }
}
