.main_table {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 95vh;
  background-color: #f5f3f3;
  padding: 1vw 1vw 1vw 8vw;
}

.waiting {
  display: flex;
  justify-content: center;
  background-color: khaki;
}
