.calendarView {
  display: flex;
  justify-content: center;
}

.calendar {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1rem;
  max-width: 1000px;
  width: 80vw;
  background-color: #0d1b2a;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.calendar .body {
  display: flex;
  flex-direction: column;
  padding: 0vw 0px 1vw 0px;
}

.calendar .nameDay {
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-size: 25px;
  font-weight: 900;
}

.calendar .nameDay div {
  width: 100%;
}

.calendar .nameDay p {
  color: white;
}

.calendar .week {
  display: flex;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.calendar .day div {
  width: 54px;
  height: 44px;
  position: relative;
  color: var(--white);
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: var(--black);
}

.calendar .day div.selected {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
  border-radius: 50%;
}

.calendar .day div.today {
  background-color: rgb(7, 40, 224);
  border-radius: 50%;
  font-size: 1rem;
}
