.settingsBody{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settingsTittle{
    border-bottom: 1px solid rgb(59, 59, 58);
    margin: 20px;
    padding: 0px 10px 1px;
}
.settingsView{
    display: flex;
    box-shadow: -5px 5px 5px rgb(63, 62, 62);
    flex-direction: row;
    background-color: white;
    padding: 35px;
    justify-content: space-around;
    align-items: center;
    border: 1px;    
    border-radius: 10px;
    border-style: solid;
    min-width: 250px;
}
.settingsView button{
    background-color: #0d1b2a;
    color: white;
    padding: 10px 40px;
    border-radius: 12px;
    border: 1px;
    margin: 15px;
    font-size: 20px;
    font-weight: 900px;
    outline: none;
    cursor: pointer;

}
.settingsView button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.supervisors {
    display: flex;
    flex-direction: column;
}

.supervisor {
    background-color: rgb(32, 34, 29);
    display: flex;
    justify-content: space-between;
    margin: 2px;
    align-items: center;
}

.supervisorsTittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.supervisor h6 {
    color: white;
    font-size: 20px;
    flex: 1;
}

.supervisorMenu button{
    background-color: rgba(255, 255, 255, 0.308);
    margin: 2px;
    color: white;
    outline: none;
}

@media screen and (max-width: 670px) {
    .settingsView{
        flex-direction: column;
    }
}
